{% extends "main/base.html" %}

{% block app_content %}
    <h1>Positions</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Account Number</th>
                    <th>Security</th>
                    <th>Quantity</th>
                    <th>Cost Basis</th>
                    <th>View Position</th>
                </tr>
            </thead>
            <tbody>
            {% for position in positions %}
                <tr>
                    <td><a href="{{ url_for('main.view_account', account_id=position.account_id) }}">{{ position.get_account_number() }}</a></td>
                    <td><a href="{{ url_for('main.view_security', security_id=position.security_id) }}">{{ position.get_security_symbol() }}</a></td>
                    <td>{{ position.quantity }}</td>
                    <td>{{ position.cost_basis }}</td>
                    <td><a href="{{ url_for('main.view_position', position_id=position.id) }}">View Position</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}