{% extends "main/base.html" %}

{% block app_content %}
    <h1>Position Dashboard</h1>
    <div class="row">
        <div class="col-md-12">
            <h2>Position Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>Account Number</td>
                        <td><a href="{{ url_for('main.view_account', account_id=position.account_id) }}">{{ position.get_account_number() }}</a></td>
                    </tr>
                    <tr>
                        <td>Symbol</td>
                        <td><a href="{{ url_for('main.view_security', security_id=position.security_id) }}">{{ position.get_security_symbol() }}</a></td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>{{ position.quantity }}</td>
                    </tr>
                    <tr>
                        <td>Cost Basis</td>
                        <td>{{ position.cost_basis }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Transactions</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Account Number</th>
                            <th>Type</th>
                            <th>Quantity</th>
                            <th>Share Price</th>
                            <th>Gross Amount</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td><a href="{{ url_for('main.view_transaction', transaction_id=transaction.id) }}">{{ transaction.date }}</a></td>
                            <td><a href="{{ url_for('main.view_account', account_id=transaction.account_id) }}">{{ transaction.get_account_number() }}</a></td>
                            <td>{{ transaction.type }}</td>
                            <td>{{ transaction.quantity }}</td>
                            <td>{{ transaction.share_price }}</td>
                            <td>{{ transaction.gross_amount }}</td>
                            <td>{{ transaction.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}