{% extends "main/base.html" %}

{% block app_content %}
    <h1>Quarter Dashboard</h1>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('main.edit_quarter', quarter_id=quarter.id) }}" class="btn btn-primary" role="button">Edit Quarter</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Quarter Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>From</td>
                        <td>{{ quarter.from_date }}</td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>{{ quarter.to_date }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ quarter.name }}</td>
                    </tr>
                    <tr>
                        <td>AUM</td>
                        <td>{{ quarter.aum }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Account Snapshots</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account Number</th>
                            <th>Client</th>
                            <th>Group</th>
                            <th>Market Value</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for snapshot in snapshots %}
                        {% with account=snapshot.get_account() %}
                        <tr>
                            <td><a href="{{ url_for('main.view_account', account_id=account.id) }}">{{ account.account_number }}</a></td>
                            <td><a href="{{ url_for('main.view_client', client_id=account.client_id) }}">{{ account.get_client_name() }}</a></td>
                            {% if snapshot.assigned_group() %}
                                <td><a href="{{ url_for('main.view_group', group_id=snapshot.group_id) }}">{{ snapshot.get_group_name() }}</a></td>
                            {% else %}
                                <td>Unassigned</td>
                            {% endif %}
                            <td>{{ snapshot.market_value }}</td>
                            <td>{{ snapshot.date }}</td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}