{% extends "base.html" %}

{% block app_content %}
    <h1>{{ group.name }}</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('client.edit_group', group_id=group.id) }}" class="btn btn-primary" role="button">Edit Client Group</a>
            <a href="{{ url_for('client.assign_clients', group_id=group.id) }}" class="btn btn-primary" role="button">Assign Clients</a>
            <a href="{{ url_for('billing.assign_fee_schedule_to_group', group_id=group.id) }}" class="btn btn-primary" role="button">Assign Fee Schedule</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Fee Schedule</h2>
            {% if group.assigned_fee_schedule() %}
                <a href="{{ url_for('billing.view_fee_schedule', schedule_id=group.fee_schedule_id) }}">{{ group.get_fee_schedule_name() }}</a>
            {% else %}
                <p>Unassigned</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Clients</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for client in group.clients %}
                        <tr>
                            <td><a href="{{ url_for('client.view_client', client_id=client.id) }}">{{ client.get_name() }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Accounts</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account Number</th>
                            <th>Description</th>
                            <th>Billable</th>
                            <th>Discretionary</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for account in group.accounts %}
                        <tr>
                            <td><a href="{{ url_for('account.view_account', account_id=account.id) }}">{{ account.account_number }}</a></td>
                            <td>{{ account.description }}</td>
                            <td>{{ account.billable }}</td>
                            <td>{{ account.discretionary }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}