{% extends 'bootstrap/base.html' %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">PFP Digital Manager</a>
        </div>
        <div class="collapsed navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('authentication.login') }}">Login</a></li>
                    <li><a href="{{ url_for('authentication.register') }}">Register</a></li>
                {% else %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.view_user', user_id=current_user.id) }}">Profile</a></li>
                            <li><a href="{{ url_for('main.edit_user', user_id=current_user.id) }}">Edit Profile</a></li>
                            <li><a href="{{ url_for('main.add_user') }}">Add User</a></li>
                            <li><a href="{{ url_for('main.view_users') }}">View Users</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.view_accounts') }}">View Accounts</a></li>
                            <li><a href="{{ url_for('main.upload_accounts') }}">Upload Accounts</a></li>
                            <li><a href="{{ url_for('main.view_account_snapshots') }}">View Account Snapshots</a></li>
                            <li><a href="{{ url_for('main.delete_all_account_snapshots') }}">DELETE ALL SNAPSHOTS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Client<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.add_client') }}">Add Client</a></li>
                            <li><a href="{{ url_for('main.upload_clients') }}">Upload Clients</a></li>
                            <li><a href="{{ url_for('main.view_clients') }}">View Clients</a></li>
                            <li><a href="{{ url_for('main.delete_all_clients') }}">DELETE ALL CLIENTS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Group<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.add_group') }}">Add Group</a></li>
                            <li><a href="{{ url_for('main.view_groups') }}">View Groups</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Custodian<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.add_custodian') }}">Add Custodian</a></li>
                            <li><a href="{{ url_for('main.view_custodians') }}">View Custodians</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Security<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.add_security') }}">Add Security</a></li>
                            <li><a href="{{ url_for('main.view_securities') }}">View Securities</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Position<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.view_positions') }}">View Positions</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transaction<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.add_transaction_redirect') }}">Add Transaction</a></li>
                            <li><a href="{{ url_for('main.upload_transactions') }}">Upload Transaction File</a></li>
                            <li><a href="{{ url_for('main.view_transactions') }}">View Transactions</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quarter<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.add_quarter') }}">Add Quarter</a></li>
                            <li><a href="{{ url_for('main.view_quarters') }}">View Quarters</a></li>
                            <li><a href="{{ url_for('main.view_fee_schedules') }}">View Fee Schedules</a></li>
                            <li><a href="{{ url_for('main.add_fee_schedule') }}">Add Fee Schedule</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('authentication.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
</div>
{% endblock %}