{% extends "base.html" %}

{% block app_content %}
    <div class="container p-3 my-3 border">
        <div class="row">
            <div class="col-md-4">
                <div class="container p-3 my-3 border">
                    <h1>Get Started</h1>
                    <p>Use this link to get started by uploading clients, accounts, and transactions.</p>
                    <a href="{{ url_for('main.get_started') }}">Get Started</a>
                </div>
                <div class="container p-3 my-3 border">
                    <h1>Upload Data</h1>
                    <p>Use the following links to import data from a file.</p>
                    <a href="{{ url_for('client.upload_clients') }}">Upload Clients</a><br/>
                    <a href="{{ url_for('account.upload_accounts') }}">Upload Accounts</a><br/>
                    <a href="{{ url_for('billing.upload_fee_schedules') }}">Upload Fee Schedules</a><br/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container p-3 my-3 border">
                    <h1>Technical Indicators</h1>
                    <p>Use the following link to generate technical indicator charts.</p>
                    <a href="{{ url_for('security.generate_technical_indicator_chart') }}">Generate Technical Indicator Chart</a>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
{% endblock %}