{% extends "base.html" %}

{% block app_content %}
    <h1>Security Dashboard</h1>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('security.edit_security', security_id=security.id) }}" class="btn btn-primary" role="button">Edit Security</a>
            <a href="{{ url_for('security.update_security_data', security_id=security.id) }}" class="btn btn-primary" role="button">Update Security Data</a>
            <a href="{{ url_for('security.view_security_momentum', security_id=security.id) }}" class="btn btn-primary" role="button">View Momentum</a>
            <a href="{{ url_for('security.generate_daily_close_wma_crossover', security_id=security.id) }}" class="btn btn-primary" role="button">Generate WMA Crossover</a>
            <a href="{{ url_for('security.generate_daily_price_chart', security_id=security.id) }}" class="btn btn-primary" role="button">Generate Daily Price Chart</a>
        </div>
    </div>
    <div class="container p-3 my-3 border">
        <div class="row">
            <div class="col-md-12">
                <h2>Security Information</h2>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Symbol</td>
                                <td>{{ security.symbol }}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{ security.name }}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{ security.description }}</td>
                            </tr>
                            <tr>
                                <td>Last Updated</td>
                                <td>{{ security.last_snapshot }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3 my-3 border">
        <div class="row">
            <div class="col-md-12">
                <h2>Positions</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Quantity</th>
                                <th>Cost Basis</th>
                                <th>View Position</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for position in positions %}
                            <tr>
                                <td><a href="{{ url_for('account.view_account', account_id=position.account_id) }}">{{ position.get_account_number() }}</a></td>
                                <td>{{ position.quantity }}</td>
                                <td>{{ position.cost_basis }}</td>
                                <td><a href="{{ url_for('transaction.view_position', position_id=position.id) }}">View Position</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3 my-3 border">
        <div class="row">
            <div class="col-md-12">
                <h2>Transactions</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Account Number</th>
                                <th>Type</th>
                                <th>Quantity</th>
                                <th>Share Price</th>
                                <th>Gross Amount</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td><a href="{{ url_for('transaction.view_transaction', transaction_id=transaction.id) }}">{{ transaction.date }}</a></td>
                                <td><a href="{{ url_for('account.view_account', account_id=transaction.account_id) }}">{{ transaction.get_account_number() }}</a></td>
                                <td>{{ transaction.type }}</td>
                                <td>{{ transaction.quantity }}</td>
                                <td>{{ transaction.share_price }}</td>
                                <td>{{ transaction.gross_amount }}</td>
                                <td>{{ transaction.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3 my-3 border">
        <div class="row">
            <div class="col-md-12">
                <h2>Security Snapshots</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Open</th>
                                <th>Close</th>
                                <th>Low</th>
                                <th>High</th>
                                <th>Volume</th>
                                <th>Delete Snapshot</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for snapshot in security.snapshots %}
                            <tr>
                                <td><a href="{{ url_for('security.view_security_snapshot', snapshot_id=snapshot.id) }}">{{ snapshot.data_date }}</a></td>
                                <td>{{ snapshot.open_value }}</td>
                                <td>{{ snapshot.close_value }}</td>
                                <td>{{ snapshot.low_value }}</td>
                                <td>{{ snapshot.high_value }}</td>
                                <td>{{ snapshot.volume }}</td>
                                <td><a href="{{ url_for('security.delete_security_snapshot', snapshot_id=snapshot.id) }}" class="btn btn-primary" role="button">Delete</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3 my-3 border">
        <div class="row">
            <div class="col-md-12">
                <h2>Daily Adjusted Data</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Open</th>
                                <th>Close</th>
                                <th>Adjusted Close</th>
                                <th>Low</th>
                                <th>High</th>
                                <th>Volume</th>
                                <th>Dividend</th>
                                <th>Split Coefficient</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for data_point in security.adjusted_dailies %}
                            <tr>
                                <td>{{ data_point.date }}</td>
                                <td>{{ data_point.open }}</td>
                                <td>{{ data_point.close }}</td>
                                <td>{{ data_point.adjusted_close }}</td>
                                <td>{{ data_point.low }}</td>
                                <td>{{ data_point.high }}</td>
                                <td>{{ data_point.volume }}</td>
                                <td>{{ data_point.dividend_amount }}</td>
                                <td>{{ data_point.split_coefficient }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}