{% extends "base.html" %}

{% block app_content %}
    <h1>Projects</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Date Due</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.due_date }}</td>
                    <td><a href="{{ url_for('task.view_project', project_id=project.id) }}">{{ project.title }}</a></td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.create_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}