{% extends "base.html" %}

{% block app_content %}
    <h1>Tasks</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Due Date</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Completed?</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.due_date }}</td>
                    <td><a href="{{ url_for('task.view_task', task_id=task.id) }}">{{ task.title }}</a></td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.create_date }}</td>
                    <td>{{ task.completed }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}