{% extends "base.html" %}

{% block app_content %}
    <h1>Task Dashboard</h1>
    {% if task.completed %}
        <h2>Complete</h2>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('task.complete_task', task_id=task.id) }}" class="btn btn-primary" role="button">Mark Completed</a>
            <a href="{{ url_for('task.edit_task', task_id=task.id) }}" class="btn btn-primary" role="button">Edit</a>
            <a href="{{ url_for('task.delete_task', task_id=task.id) }}" class="btn btn-danger" role="button">Delete</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h2>{{ task.title }}</h2>
        </div>
        <div class="col-md-3">
            <h2>Due: {{ task.due_date }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><b>Description: </b>{{ task.description }}</p>
        </div>
    </div>
{% endblock %}