{% extends "base.html" %}

{% block app_content %}
    <h1>Quarter Dashboard</h1>
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url_for('billing.edit_quarter', quarter_id=quarter.id) }}" class="btn btn-primary" role="button">Edit Quarter</a>
            <a href="{{ url_for('billing.upload_account_values', quarter_id=quarter.id) }}" class="btn btn-primary" role="button">Upload Account File</a>
            <a href="{{ url_for('billing.generate_group_snapshots', quarter_id=quarter.id) }}" class="btn btn-primary" role="button">Generate Group Snapshots</a>
            <a href="{{ url_for('billing.calculate_group_fees', quarter_id=quarter.id) }}" class="btn btn-primary" role="button">Calculate Group Fees</a>
            <a href="{{ url_for('billing.calculate_account_fees', quarter_id=quarter.id) }}" class="btn btn-primary" role="button">Calculate Account Fees</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Quarter Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td>From</td>
                        <td>{{ quarter.from_date }}</td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>{{ quarter.to_date }}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ quarter.name }}</td>
                    </tr>
                    <tr>
                        <td>AUM</td>
                        <td>{{ quarter.aum }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Billable Groups</h2>
            <div class="panel-group">
                {% for group_snapshot in group_snapshots %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ '#' + group_snapshot.name }}" data-toggle="collapse">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Group</th>
                                                <th>Market Value</th>
                                                <th>Fee</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="{{ url_for('client.view_group', group_id=group_snapshot.group_id) }}">{{ group_snapshot.get_group_name() }}</a></td>
                                                <td>{{ group_snapshot.market_value }}</td>
                                                <td>{{ group_snapshot.fee }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </a>
                        </div>
                        <div id="{{ group_snapshot.name }}" class="panel-collapse collapse">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Account Number</th>
                                        <th>Description</th>
                                        <th>Market Value</th>
                                        <th>Fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for account_snapshot in group_snapshot.account_snapshots %}
                                        <tr>
                                            <td><a href="{{ url_for('account.view_account', account_id=account_snapshot.account_id) }}">{{ account_snapshot.account_number }}</a></td>
                                            <td>{{ account_snapshot.description }}</td>
                                            <td>{{ account_snapshot.market_value }}</td>
                                            <td>{{ account_snapshot.fee }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Account Snapshots</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account Number</th>
                            <th>Client</th>
                            <th>Group</th>
                            <th>Market Value</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for snapshot in snapshots %}
                        <tr>
                            <td><a href="{{ url_for('account.view_account', account_id=snapshot.account_id) }}">{{ snapshot.account_number }}</a></td>
                            <td><a href="{{ url_for('client.view_client', client_id=snapshot.client_id) }}">{{ snapshot.client_name }}</a></td>
                                <td><a href="{{ url_for('client.view_group', group_id=snapshot.group_id) }}">{{ snapshot.group_name }}</a></td>
                            <td>{{ snapshot.market_value }}</td>
                            <td>{{ snapshot.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}