{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <h1>Assign Clients</h1>
    <p><b>Instructions: </b>Select each client to be assigned to group {{ group.name }}.</p>
    <div class="row">
        <div class="col-md-4">
            <form method="post" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom">Clients</legend>
                    {% for choice in form.choices %}
                        <div class="form-check">
                            {{ choice(size=32) }}
                            {{ choice.label }}
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}