{% extends "base.html" %}

{% block app_content %}
    <h1>{{ group.name }}</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('edit_group', group_id=group.id) }}" class="btn btn-primary" role="button">Edit Client Group</a>
            <a href="{{ url_for('assign_clients', group_id=group.id) }}" class="btn btn-primary" role="button">Assign Clients</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td><a href="{{ url_for('client', client_id=client.id) }}">{{ client.first_name + ' ' + client.last_name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}