{% extends "base.html" %}

{% block app_content %}
    <h1>Security Dashboard</h1>
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('edit_security', security_id=security.id) }}" class="btn btn-primary" role="button">Edit Security</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Security Information</h2>
            <p><b>Symbol: </b>{{ security.symbol }}</p>
            <p><b>Name: </b>{{ security.name }}</p>
            <p><b>Description: </b>{{ security.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Positions</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>Quantity</th>
                            <th>Cost Basis</th>
                            <th>View Position</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for position in positions %}
                        <tr>
                            <td><a href="{{ url_for('account', account_id=position.account_id) }}">{{ position.get_account_number() }}</a></td>
                            <td>{{ position.quantity }}</td>
                            <td>{{ position.cost_basis }}</td>
                            <td><a href="{{ url_for('position', position_id=position.id) }}">View Position</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Transactions</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Account Number</th>
                            <th>Type</th>
                            <th>Quantity</th>
                            <th>Share Price</th>
                            <th>Gross Amount</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td><a href="{{ url_for('transaction', transaction_id=transaction.id) }}">{{ transaction.date }}</a></td>
                            <td><a href="{{ url_for('account', account_id=transaction.account_id) }}">{{ transaction.get_account_number() }}</a></td>
                            <td>{{ transaction.type }}</td>
                            <td>{{ transaction.quantity }}</td>
                            <td>{{ transaction.share_price }}</td>
                            <td>{{ transaction.gross_amount }}</td>
                            <td>{{ transaction.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}