{% extends "base.html" %}

{% block app_content %}
    <h1>Custodians</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for custodian in custodians %}
                <tr>
                    <td><a href="{{ url_for('view_custodian', custodian_id=custodian.id) }}">{{ custodian.name }}</a></td>
                    <td>{{ custodian.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}