{% extends "base.html" %}

{% block app_content %}
    <h1>Transactions</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Account Number</th>
                    <th>Type</th>
                    <th>Security</th>
                    <th>Quantity</th>
                    <th>Share Price</th>
                    <th>Gross Amount</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td><a href="{{ url_for('view_transaction', transaction_id=transaction.id) }}">{{ transaction.date }}</a></td>
                    <td><a href="{{ url_for('view_account', account_id=transaction.account_id) }}">{{ transaction.get_account_number() }}</a></td>
                    <td>{{ transaction.type }}</td>
                    <td><a href="{{ url_for('view_security', security_id=transaction.security_id) }}">{{ transaction.get_security_symbol() }}</a></td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.share_price }}</td>
                    <td>{{ transaction.gross_amount }}</td>
                    <td>{{ transaction.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}